*{
    margin: 0;
    box-sizing: border-box;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none
}

*::-webkit-scrollbar {
  display: none;
}

:root{
    --header-line-height: 3.5rem;
}

html{
    font-size: 12.5px;
}

body{
	font-family: 'Plantin MT Pro', sans-serif;
	padding: 0;

		background: #fff2;
		/* overflow-y: hidden; */
		/* overflow-x: hidden; */
		/* background-size: 50px 50px; */
		/* background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px); */
}

a {
	color: black;
	text-decoration: none;
}

.header-container,
.grid-container{
    width: 100%;

    /* max-width: var(--container-max); */
}

.header-container{
	font-size: 2em;
	display: flex;
	height: 200px;
	justify-content: space-between;
	/* border-bottom: 1px dotted black; */
}


/* .header-container ~ svg { */
	/* margin-bottom: 5.2em; */
/* } */

h1, h2, h3, h4, h5, h6{
    font-family: 'Plantin MT Pro', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: var(--header-line-height);
    letter-spacing: 0.025em;
}

.header-container h4 {
	/* font-weight: 600; */
	font-size: 1em;
	color: #666;
  font-family: 'Plantin MT Pro', sans-serif;
	text-transform: lowercase;
}

.header-container h1 {
	font-size: 3em;
}

.fall-down {
	-webkit-animation: fall 1.5s ;
	-moz-animation: fall 1.5s ;
	-o-animation: fall 1.5s ;
	animation: fall 1.5s ;
}

.project-media{
	position: fixed;
	width: 60vw;
  height: 100vh;
  right: 6rem;
  top: 0px;
  display: none;
  overflow-y: scroll;
  padding-top: 200px;
}

p {
  font-size: 1.4em;
  margin-bottom: .8em;
}

.project-metadata{
	position: fixed;
  width: 25vw;
  height: calc(100vh - 200px);
  left: 8rem;
  top: 200px;
  display: none;
  overflow-y: scroll;
  opacity: 0;
  transition: all 870ms;
	padding-bottom: 100px;
	z-index: 0;
}

.project-data {
	padding-top: 2em;
	border-top: 1px solid black;
}

.designer-data {
	margin-top: 5em;
	padding-top: 2em;
	border-top: 1px solid black;
}

.project-img {
	width: 100%;
	height: auto;
	transition: all 870ms;
}

@keyframes fall {

 from {
		transform: translateY(0px) rotate(var(--angle-random));
		-webkit-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
	}
	to {
		transform: translateY(220vh) rotate(var(--angle-other-random));
			-webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
	}
}


.content-container{
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	padding: 5.5rem 8rem;
}


.grid-item{
		/* width: 300px; */
	width: min-content;
	height: min-content;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 1rem;
	z-index: 1;
}

.grid-item-thumbnail{
    border-radius: 0;
    margin-bottom: 0.5rem;
    clip-path: var(--clip-random);
		border-radius: var(--border-random);
    transition: all 260ms ease;
    cursor: pointer;
}

.grid-item-thumbnail:hover{
	border-radius: 0;
}

article {
	/* border: 1px solid black; */
	padding: 1em;
	transform: rotate(var(--angle-random));
	filter: grayscale(1);
	background-color: white;

	background-image: repeating-linear-gradient(-16deg, #333333, #333333 4px, transparent 4px, transparent 7px, #333333 7px), repeating-linear-gradient(74deg, #333333, #333333 4px, transparent 4px, transparent 7px, #333333 7px), repeating-linear-gradient(164deg, #333333, #333333 4px, transparent 4px, transparent 7px, #333333 7px), repeating-linear-gradient(254deg, #333333, #333333 4px, transparent 4px, transparent 7px, #333333 7px);
	background-size: 1.8px 100%, 100% 1.8px, 1.8px 100% , 100% 1.8px;
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat; 

	transition: all 270ms;
}

/* article h3, */
/* article p */
/* { */
/* 	opacity: .8; */
/* } */
article:hover {
	filter: grayscale(0);
	box-shadow: 0 0 25px 5px rgba(0, 0,0,.1);
	transform: rotate(var(--angle-other-random)) scale(1.05);
	
}

.grid-item-heading{
	font-family: 'Plantin MT Pro', 'Times', serif; 
  font-size: 2.3em;
  text-transform: lowercase;
  font-weight: 100;
	line-height: 1.2em;
	color: black;
	margin-bottom: -8px;
}

.grid-item-work-name{
		font-family: 'Plantin MT Pro', 'Times', serif; 
    font-weight: 100;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    color: #333;
}

.project-metadata h1,
.project-metadata h2,
.project-metadata h3,
.project-metadata h4,
.project-metadata h5,
.project-metadata h6{
    font-family: sans-serif;
    font-weight: 600;
}

.project-metadata h1{ font-size: 3em; }
.project-metadata h2{ font-size: 2.5em; }
.project-metadata h3{ font-size: 2.1em; }
.project-metadata h4{ font-size: 1.8em }
.project-metadata h5{ font-size: 1.5em }
.project-metadata h6{ font-size: 1.3em }
